:root {
    --color-primary: #41a6f3 ;
    --color-primary-light: #9ad3fe;
    --color-primary-varient:  #85cbff;

    --transition: all 300ms ease;
   
    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;


}

/* ================== General stuff thats universal so i dont have to repeat */
